<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName"><value>com.mysql.jdbc.Driver</value></property>
		<property name="url"><value>jdbc:mysql://localhost:3306/project</value></property>
		<property name="username"><value>root</value></property>
		<property name="password"><value>root</value></property>
		
	</bean>
	<bean id="mySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	<property name="dataSource"><ref bean="myDataSource"/></property>
	<property name="mappingResources">
	<list>
	<value>/com/bean/user.hbm.xml</value>
	</list>
	</property>
	<property name="hibernateProperties">
	<value>
	hibernate.dialect=org.hibernate.dialect.MySQLDialect
	</value>
	</property>
	</bean>	
	
		<bean id="dao" class="com.dao.daoclass">
		<property name="sessionFactory"><ref bean="mySessionFactory"/></property>
			
		</bean>
		
	   <bean id="userservice" class="com.service.serviceclass">
		<property name="dao"><ref bean="dao"/></property>
			
		</bean>
	
</beans>
